{% load i18n %}

<footer class="footer has-background-light">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                <a class="navbar-item" href="{% url 'index' %}">Link P1</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P2</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P3</a>
            </div>
            <div class="column is-one-quarter">
                <a class="navbar-item" href="{% url 'index' %}">Link P4</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P5</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P6</a>
            </div>
            <div class="column is-one-quarter">
                <a class="navbar-item" href="{% url 'index' %}">Link P1</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P2</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P3</a>
            </div>
            <div class="column is-one-quarter">
                <a class="navbar-item" href="{% url 'index' %}">Link P4</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P5</a>
                <a class="navbar-item" href="{% url 'index' %}">Link P6</a>
            </div>
        </div>
    </div>
</footer>

